@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body, html {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.flex {
    display: flex;
    border: solid 1px #ddd;
    transition: 0.5s;
}

#login {
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ddd;
}

#container {
    display: none;
    flex-direction: column;
    opacity: 0;
}

#header {
    justify-content: space-between;
}

    #header > div {
        padding: 10px;
    }

#navigation {
    padding: 10px;
}

#content {
    padding: 10px;
    min-height: 90vh;
}